div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.btn_fechar {
    position: absolute;
    bottom: 5px;
    right: 10px;
}


